#include <zephyr/dt-bindings/gpio/gpio.h>

&uicr {
    nfct-pins-as-gpios;
};

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        status = "okay";
        wakeup-source;
        input-gpios =
            <&xiao_d 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&xiao_d 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };
};
